@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@400;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'DM Serif Display', serif;
    font-family: 'Inter', sans-serif;
}
ul {
    list-style: none;
}
.content-wrapper {
    max-width: 1340px;
    margin: 0 auto;
    position: relative ;
}
header img div.logo div.icon {
    display: flex;
}
nav .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 32px;
}
nav ul {
    display: none;
    align-items: center;
    
}
section {
display: flex;
margin-top: 80px;
}
section img{
    position: absolute;
    max-height: 500px;
    margin-left: 260px ;
    margin-top: -140px;  

}
section .text-button {
    position:relative;
    text-align:left;
    margin:32px;
    min-width: 240px;
}
.text-button p:first-child{
    color: #FF3998;
    font: bold;
    font-size: 20px;
    border-radius: 2rem;
    border: solid 3px transparent;
}
.text-button p {
color: #555555;
font-size: 20px;
line-height: 30px;
margin-bottom: 24px;
}
.text-button h1 {
    color: #111111;
    font-size: 60px;
    margin-bottom: 24px;
}
section button {
    background: white;
    width: 188px;
    height: 75px;
    border-radius: 110px;
    border-color: red;
    font-size: 22px ;
    border-width: 5px;
}
.upsell {
    background-image:url("./assets/background.svg") ;
    background-repeat: no-repeat;
    min-width: 428px;
    min-height: 326px;
    margin-top: 100px;
    text-align: left;
    }
.upsell div {
text-align: left;
padding-left: 32px;
padding-top: 100px;
}
.upsell h2{
font-size: 40px;
margin-bottom: 20px;
line-height: 48.41px;
}
.upsell p {
    font-size: 20px;
    line-height: 30px;
}
    .logo-4 {
        display: none;
    }
    .press {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 40px;
    }
.press div img {
    margin: 10px;
}
.showcase h2 {
    font-size: 40px;
    margin-top: 30px;
}
.showcase p {
    color: #555555;
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
}
.showcase a {
    color: #555555;
}
main {
display: grid;
}

.card {
    display: grid;
    grid-area: card;
    width: 300px;
    height: 400px;
    grid-template-columns: 300px;
    grid-template-rows: 300px;
    grid-template-areas: "image" "text" "stats";

    border-radius: 18px;
    background: #eeeeee;
    text-align: center;
}
.card2 {
    display: grid;
    width: 300px;
    height: 400px;
    grid-template-columns: 300px;
    grid-template-rows: 300px;
    grid-template-areas: "image" "text" "stats";

    border-radius: 18px;
    background: #eeeeee;
    text-align: center;
}
.card3 {
    display: grid;
    width: 300px;
    height: 400px;
    grid-template-columns: 300px;
    grid-template-rows: 300px;
    grid-template-areas: "image" "text" "stats";

    border-radius: 18px;
    background: #eeeeee;
    text-align: center;
}
.card4 {
    display: grid;
    width: 300px;
    height: 400px;
    grid-template-columns: 300px;
    grid-template-rows: 300px;
    grid-template-areas: "image" "text" "stats";

    border-radius: 18px;
    background: #eeeeee;
    text-align: center;
}
.card-image {
    grid-area: image;
    background: url(./assets/ntfs/ntf-1.svg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-image2 {
    grid-area: image;
    background: url(./assets/ntfs/nft-2.svg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-image3 {
    grid-area: image;
    background: url(./assets/ntfs/ntf-3.svg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-image4 {
    grid-area: image;
    background: url(./assets/ntfs/ntf-4.svg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text{
    grid-area: text;
    margin: 25px;
}
.card-stats {
    grid-area: stats;
}
